<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://wwww.thymeleaf.org">
	<head>
		<title>JimBus Solutions</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" th:href="@{/assets2/css/plantillaEstilo.css}" />
<noscript>
	<link rel="stylesheet" th:href="@{/assets2/css/noscript.css}" />
</noscript>
<style type="text/css">
#contenedor1{
height:100vh;
background-color: white;
color:black;
text-align:center;
}

</style>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
		
					<a href="index.html"><img th:src="@{/images/JBblanco.png}" width="100px" height="70px"/></a>
					
					<nav id="nav">
					
					
						<ul>
							<li><a href="index.html" class="icon solid fa-user">Inicio</a></li>
							<li>
								<a href="#" class="icon solid fa-book">Agenda</a>
								<ul>
									<li><a href="left-sidebar.html" class="icon solid fa-eye"> Ver Citas</a></li>
									<li><a href="right-sidebar.html" class="icon solid fa-pen"> Dar Citas</a></li>
									<li>
										<a href="#" class="icon solid fa-calendar-day"> Calendario</a>
										<ul>
										
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="elements" class="icon solid fa-users">Pacientes</a>
							<ul>
											<li><a href="#" class="icon solid fa-user-plus"> nuevo paciente</a></li>
											<li><a href="#" class="icon solid fa-magnifying-glass"> listado/buscador Cliente</a></li>
										</ul>
							</li>
							<li><a href="elements" class="icon solid fa-user-doctor">Empleados</a></li>
							<li><a href="elements" class="icon solid fa-coins">Contabilidad</a>
							<ul>
												<li><a href="#">Facturas</a></li>
											<li><a href="#">Ingresos</a></li>
											<li><a href="#">Gastos</a></li>
											<li><a href="#">Tarifas</a></li>
										</ul>
							</li>
							<li><a href="index" class=" icon solid fa-right-to-bracket"></a></li>
						</ul>
					</nav>
				</header>

			

			<!-- One -->
				

			<!-- Two -->
			<br><br>
					<div id="contenedor1">
				<p>Párrafo 1:             </p>	
				<p>Párrafo 2:    </p>
				
				
				
					<div class="card">
  <div class="card-header">
    <div class="text-header">Alta cita</div>
  </div>
  <div class="card-body">
    <form action="#">
      <div class="form-group">
        <label for="username">Nombre:</label>
        <input required="" class="form-control" name="username" id="username" type="text">
      </div>
      <div class="form-group">
        <label for="email">Apellido:</label>
        <input required="" class="form-control" name="email" id="email" type="email">
      </div>
      <div class="form-group">
        <label for="Comentario">Comentario:</label>
        <input required="" class="form-control" name="comentario" id="password" type="text">
      </div>
      <div class="form-group">
        <label for="fecha">fecha</label>
        <input required="" class="form-control" name="fecha" id="confirm-password" type="date">
      </div>
     <input type="submit" class="btn" value="submit">    </form>
  </div>
</div>

         
				</div>

		
				

		</div>

		<!-- Scripts -->
			<script src="/assets2/js/jquery.min.js"></script>
			<script src="/assets2/js/jquery.scrolly.min.js"></script>
			<script src="/assets2/js/jquery.dropotron.min.js"></script>
			<script src="/assets2/js/jquery.scrollex.min.js"></script>
			<script src="/assets2/js/browser.min.js"></script>
			<script src="/assets2/js/breakpoints.min.js"></script>
			<script src="/assets2/js/util.js"></script>
			<script src="/assets2/js/main.js"></script>

	</body>
</html>