<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="shortcut icon" th:href="@{/images/perfilLog.png}">

<link rel="stylesheet" th:href="@{/css/EstiloDash.css}" />
<link rel="stylesheet" th:href="@{/assets2/css/EstilosBasico.css}" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<title>JimBus Solutions</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<script src="/js/graficos/numPacientes.js"></script> 
</head>
<body>
	<!-- top navigation bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="offcanvas" data-bs-target="#sidebar"
				aria-controls="offcanvasExample">
				<span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
			</button>
			<a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
				href="#"><img th:src="@{/images/JBblanco.png}"
				width="100px" height="50px" />JimBus Solutions</a>
			

			<div class="ms-auto d-inline-block">
				<form th:action="@{/logout}" method="post">
					<button class="icon solid fa-right-to-bracket"
						style="border: none;"></button>
				</form>
			</div>
		</div>
	</nav>
	<!-- top navigation bar -->
	<!-- offcanvas -->
	<div class="offcanvas offcanvas-start sidebar-nav bg-dark"
		tabindex="-1" id="sidebar">
		<div class="offcanvas-body p-0">
			<nav class="navbar-dark m-3">
				<ul class="navbar-nav">
					<li class="nav-item "><a href="/intranet/inicio"
						class="nav-link  btn-dark icon solid fa-user text-white hover-overlay">Inicio</a></li>
					<li class="nav-item dropdown text-white"><a
						class="nav-link dropdown-toggle btn-dark text-white icon solid fa-book"
						href="#" id="navbarDropdownAgenda" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Agenda </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownAgenda">
							<li><a href="/intranet/citas/citas"
								class="dropdown-item icon solid fa-eye">Citas por revisar</a></li>
							<li><a href="/intranet/citas/asignarCitas"
								class="dropdown-item icon solid fa-pen">Calendarios</a></li>
							<li><a href="/intranet/citas/altaCitas"
								class="dropdown-item icon solid fa-plus">Añadir citas</a></li>
						</ul></li>
					<li class="nav-item dropdown"><a
						class="nav-link icon solid btn-dark fa-users dropdown-toggle text-white"
						href="#" id="navbarDropdownPaciente" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Pacientes</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownPaciente">
							
							<li><a href="/intranet/pacientes/pacientes"
								class="dropdown-item icon solid fa-magnifying-glass">
									listado/buscador Cliente</a></li>
						</ul></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle btn-dark icon solid fa-user-doctor text-white"
						href="#" id="navbarDropdownEmpleados" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Empleados</a>
						<ul class="dropdown-menu"
							aria-labelledby="navbarDropdownEmpleados">
							<li><a href="/intranet/empleados/altaEmpleados"
								class="dropdown-item icon solid fa-user-plus">Nuevo empleado</a></li>
							
						</ul></li>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle icon solid fa-coins btn-dark text-white" href="#"  id="dropdownMenuClickableInside"   data-bs-toggle="dropdown" aria-expanded="false">
            Contabilidad
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">

							<li><a href="/intranet/facturas/facturas"
								class="dropdown-item icon solid fa-file-invoice-dollar">
									Facturas</a></li>
							<li class="dropdown"><a
								class="dropdown-item dropdown-toggle  icon solid fa-circle-euro"
								id="defaultDropdown" data-bs-toggle="dropdown"
								data-bs-auto-close="true" aria-expanded="false">Ingresos</a>
								<ul class="dropdown-menu" aria-labelledby="defaultDropdown">
									<li><a href="/intranet/ingresos/ingresos"
										class="dropdown-item dropdown icon solid fa-eye">Ver ingresos</a></li>
									
								</ul></li>
							<li class="dropdown"><a
								class="dropdown-item dropdown-toggle icon solid fa-chart-line-down "
								id="defaultDropdown" data-bs-toggle="dropdown"
								data-bs-auto-close="true" aria-expanded="false">Gastos</a>
								<ul class="dropdown-menu" aria-labelledby="defaultDropdown">
									<li><a href="/intranet/gastos/gastos"
										class="dropdown-item icon solid fa-eye">Ver gastos</a></li>
									
								</ul>
							<li class="dropdown"><a
								class="dropdown-item dropdown-toggle icon solid fa-tags "
								id="defaultDropdown" data-bs-toggle="dropdown"
								data-bs-auto-close="true" aria-expanded="false">Tarifas</a>
								<ul class="dropdown-menu" aria-labelledby="defaultDropdown">
									<li><a href="/intranet/tarifas/tarifas"
										class="dropdown-item icon solid fa-eye">Ver tarifas</a></li>
									
								</ul></li>
						</ul></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle btn-dark icon solid fa-gavel text-white icon solid fa-gavel"
						href="#" id="navbarDropdownEmpleados" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Consentimientos</a>
						<ul class="dropdown-menu"
							aria-labelledby="navbarDropdownEmpleados">
							<li><a href="/intranet/consentimientos/consentimientoD"
								class="dropdown-item">Protección datos</a></li>
							<li><a href="/intranet/consentimientos/consentimientoP"
								class="dropdown-item">Punción seca</a></li>
						</ul></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle btn-dark text-white icon solid fa-chart-simple"
						href="#" id="navbarDropdownEmpleados" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Estadísticas</a>
						<ul class="dropdown-menu"
							aria-labelledby="navbarDropdownEmpleados">
							<li><a href="/intranet/estadisticas/diasTrabajados"
								class="dropdown-item">Días trabajados</a></li>
							<li><a href="/intranet/estadisticas/distribucionSesiones"
								class="dropdown-item">Distribución sesiones</a></li>
							<li><a href="/intranet/estadisticas/divisionPacientes"
								class="dropdown-item">División pacientes</a></li>
							<li><a href="/intranet/estadisticas/gastosTotales"
								class="dropdown-item">Gastos totales</a></li>
							<li><a href="/intranet/estadisticas/ingresosTotales"
								class="dropdown-item">Ingresos totales</a></li>
							<li><a href="/intranet/estadisticas/metodologiaPago"
								class="dropdown-item">Metodología de pago</a></li>
							<li><a href="/intranet/estadisticas/numeroPacientes"
								class="dropdown-item">Número pacientes</a></li>
							<li><a href="/intranet/estadisticas/preciosSesiones"
								class="dropdown-item">Precio sesiones</a></li>
							<li><a href="/intranet/estadisticas/procedenciaPacientes"
								class="dropdown-item">Procedencia pacientes</a></li>
						</ul></li>



				</ul>
			</nav>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<main class="mt-5 pt-3">
		<div class="row">
				<div class="col-md-12 mb-3">
					<div class="card ">
						<div class="card-header d-flex flex-row">
						<div>
							<span><i class="icon solid fa-chart-simple"></i></span>Número de pacientes tratados</div>
							 <div class="ms-auto  "> <input id="opcion1" placeholder="2021" onchange='javascript: comparar();' /><span class="icon solid fa-magnifying-glass"></span>
							 <input id="opcion2" placeholder="2021" onchange='javascript: comparar();' /><span class="icon solid fa-magnifying-glass"></span>
							 </div>
						</div>
						<div class="card-body ">
							<div class="table-responsive" style="overflow: hidden;">
								<div id='p1' class='panel'><div id='chart_div'></div> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</main>

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
