<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Super Dashboard</title>

		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<script src="/js/diasTrabajados.js"></script> 
		<link rel="stylesheet" th:href="@{/css/style1.css}" />
	</head>

	<body>
		<div class='dashboard-controls' style='text-align: right;'>
			<a href='/logout' style='color: #000; font-size: 12px; text-decoration: none;'>Logout</a>
		</div>
		
		<h1>Comparativa años</h1>

		<div class='dashboard-controls'>
			<div class='dashboard-controls-reg'>
				<div class='dashboard-controls-label'>año 1:</div>	
				<div class='dashboard-controls-value'><input id="opcion1" placeholder="2021" onchange='javascript: comparar();' /></div>	
			</div>	
			<div class='dashboard-controls-reg'>
				<div class='dashboard-controls-label'>año 2:</div>	
				<div class='dashboard-controls-value'><input id="opcion2" placeholder="2022" onchange='javascript: comparar();'  /></div>	
			</div>	
			
				
			
			<div class='clear'>&nbsp;</div>			
		</div>		

		<div class="dashboard-wrapper">
			<div id='p1' class='panel'><h2>Dias trabajados</h2> <div id='chart_div'></div> </div>
			
		</div>

	</body>
</html>
